sudo: required

services:
    - docker
    - redis-server
    - postgresql

language: python
python:
    - "3.8"

addons:
    postgresql: "9.5"
    apt:
        packages:
        - postgresql-9.5
        - postgresql-client-9.5
        - postgresql-contrib-9.5
        - postgresql-server-dev-9.5
env:
    AG_DB_PASSWORD: ""

install:
    - pip install -r requirements.txt
    - pip install -r requirements-dev.txt

before_script:
    - echo $AG_DB_PASSWORD

script:
    pycodestyle autograder &&
    pydocstyle augograder &&
    sh run_mypy.sh &&
    python3 manage.py makemigrations --check &&
    python3 manage.py test -v 2 autograder
