[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pycodestyle = "==2.4.0"
pydocstyle = "==2.1.1"
mypy = "==0.770"
django-stubs = "==1.5.0"
djangorestframework-stubs = "==1.1.0"

[packages]
autograder-sandbox = "==5.0.0"
celery = "==4.4.2"
django-extensions = "==1.9.8"
django-redis = "==4.11.0"
django-timezone-field = "==4.0"
djangorestframework = "==3.11.0"
openapi = "==1.1.0"
python-gnupg = "==0.4.6"
uritemplate = "==3.0.1"
drf-composable-permissions = "==0.1.1"
google-api-python-client = "==1.5.5"
psycopg2 = "==2.8.3"
redis = "==3.4.1"
uwsgitop = "==0.11"
ipython = "==7.13.0"
Django = "==3.1"
PyYAML = "==5.3.1"
uWSGI = "==2.0.15"

[requires]
python_version = "3.8"
