autograder-sandbox
celery<5.0.0
django-extensions
django-redis
django-timezone-field
djangorestframework
openapi
python-gnupg
uritemplate
drf-composable-permissions
psycopg2
redis
uwsgitop
ipython
Django<3.0.0
PyYAML
uWSGI
oauth2client
