autograder-sandbox==4.0.2
celery==4.2.1
Django==2.2.4
django-extensions==1.9.8
django-redis==4.8.0
django-timezone-field==2.0
djangorestframework==3.11.0
openapi-1.1.0
pyyaml-5.3.1
uritemplate==3.0.1
drf-composable-permissions==0.1.1
google-api-python-client==1.5.5
psycopg2==2.8.3
redis==2.10.5
uWSGI==2.0.15
uwsgitop==0.11
ipython==6.5.0
django-debug-toolbar==1.9.1

Sphinx===1.7.4
sphinx-autodoc-typehints==1.3.0
