<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags (Bootstrap) -->


    <title>The Autograder</title>

    {% load staticfiles %}

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- JQuery Cookie -->
    <script src="{% static 'autograder/jquery-cookie/jquery.cookie.js' %}"></script>

    <!-- Google Authentication -->
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="358440655746-bl5ig1es62n6n4oho525l4f58fgl367c.apps.googleusercontent.com">

    <!-- csrf protection -->
    <script id='csrf-setup' type="text/javascript">
        // source: https://docs.djangoproject.com/en/1.7/ref/contrib/csrf/#ajax
        var csrftoken = $.cookie('csrftoken');
        function csrfSafeMethod(method)
        {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    </script>

    <!-- Boostrap -->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- /Bootstrap -->

    {% block head_content %}{% endblock head_content %}
</head>
<body>

<div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>

{% block body %}{% endblock body %}

<form id='logout' method='post' action="{% url 'logout' %}" onsubmit="signOut();">
    {% csrf_token %}
    <input type='submit' value='Sign out'>
</form>
<script>
    function signOut()
    {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
          console.log('User signed out.');
        });
    }
</script>
<script src="https://apis.google.com/js/platform.js" async defer></script>

<script type="text/javascript">
    function tasky()
    {
        console.log('tasky');
        $.get('{% url "tasky" %}', function(data, status) {
            console.log('tasky status: ' + status + ' ' + data);
        });
    }
</script>
<button onclick='tasky();'>tasky</button>

</body>
</html>
