{% extends "autograder/base.html" %}
{% load staticfiles %}

{% block body %}

<h1>Welcome to the Autograder</h1>

<form method='POST' id='login' action="{% url 'login' %}">
    {% csrf_token %}
    <input type='hidden' name='idtoken' id='token' value=''>
    <input type='hidden' name='redirect_url' value='{{ redirect_url }}'>
</form>

<script>
  function onSignIn(googleUser) {
    // Useful data for your client-side scripts:
    var profile = googleUser.getBasicProfile();
    // console.log("ID: " + profile.getId()); // Don't send this directly to your server!
    // console.log("Name: " + profile.getName());
    // console.log("Image URL: " + profile.getImageUrl());
    // console.log("Email: " + profile.getEmail());

    if (profile.getEmail().split('@')[1] != 'umich.edu')
    {
        alert('Please sign in with your "umich.edu" email address');
        gapi.auth2.getAuthInstance().signOut();
        return;
    }

    // The ID token you need to pass to your backend:
    var id_token = googleUser.getAuthResponse().id_token;
    console.log("ID Token: " + id_token);
    $('#token').attr('value', id_token);
    $('#login').submit();
    // $.post("{% url 'login' %}",
    //     {'idtoken': id_token, 'redirect_url': '{{ redirect_url }}' },
    //     function(data, status) {
    //         console.log('Post response: ' + status + ' ' + data);
    //     });
  };
</script>

<script type="text/javascript">
    $(function() {
        $('#logout').hide();
    });
</script>

{% endblock body %}
