<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags (Bootstrap) -->


    <title>The Autograder</title>

    {% load staticfiles %}

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- JQuery Cookie -->
    <script src="{% static 'autograder/jquery-cookie/jquery.cookie.js' %}"></script>

    <!-- Google Authentication -->
<!--     <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="358440655746-bl5ig1es62n6n4oho525l4f58fgl367c.apps.googleusercontent.com">

    <script src="https://apis.google.com/js/platform.js"></script> -->

    <!-- code prettify -->
<!--     <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script> -->

    <!-- csrf protection -->
    <script id='csrf-setup' type="text/javascript">
        // source: https://docs.djangoproject.com/en/1.7/ref/contrib/csrf/#ajax
        // var csrftoken = $.cookie('csrftoken');
        function csrfSafeMethod(method)
        {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
                }
            }
        });
    </script>

    <!-- Boostrap -->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- /Bootstrap -->

    <!-- File Upload -->

    <!-- Generic page styles -->
    <link rel="stylesheet" href="{% static 'autograder/file-upload/css/style.css' %}">
    <!-- blueimp Gallery styles -->
    <!--<link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">-->
    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link rel="stylesheet" href="{% static 'autograder/file-upload/css/jquery.fileupload.css' %}">
    <link rel="stylesheet" href="{% static 'autograder/file-upload/css/jquery.fileupload-ui.css' %}">
    <!-- CSS adjustments for browsers with JavaScript disabled -->
    <noscript><link rel="stylesheet" href="{% static 'autograder/file-upload/css/jquery.fileupload-noscript.css' %}"></noscript>
    <noscript><link rel="stylesheet" href="{% static 'autograder/file-upload/css/jquery.fileupload-ui-noscript.css' %}"></noscript>

    <!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
    <script src="{% static 'autograder/file-upload/js/vendor/jquery.ui.widget.js' %}"></script>
    <!-- The Templates plugin is included to render the upload/download listings -->
    <script src="{% static 'autograder/file-upload/js/tmpl.min.js' %}"></script>
    <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
    <script src="{% static 'autograder/file-upload/js/load-image.all.min.js' %}"></script>
    <!-- The Canvas to Blob plugin is included for image resizing functionality -->
    <!--<script src="//blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>-->
    <!-- blueimp Gallery script -->
    <!--<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>-->
    <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
    <script src="{% static 'autograder/file-upload/js/jquery.iframe-transport.js' %}"></script>
    <!-- The basic File Upload plugin -->
    <script src="{% static 'autograder/file-upload/js/jquery.fileupload.js' %}"></script>
    <!-- The File Upload processing plugin -->
    <script src="{% static 'autograder/file-upload/js/jquery.fileupload-process.js' %}"></script>
    <!-- The File Upload image preview & resize plugin -->
    <script src="{% static 'autograder/file-upload/js/jquery.fileupload-image.js' %}"></script>
    <!-- The File Upload audio preview plugin -->
    <script src="{% static 'autograder/file-upload/js/jquery.fileupload-audio.js' %}"></script>
    <!-- The File Upload video preview plugin -->
    <script src="{% static 'autograder/file-upload/js/jquery.fileupload-video.js' %}"></script>
    <!-- The File Upload validation plugin -->
    <script src="{% static 'autograder/file-upload/js/jquery.fileupload-validate.js' %}"></script>
    <!-- The File Upload user interface plugin -->
    <script src="{% static 'autograder/file-upload/js/jquery.fileupload-ui.js' %}"></script>

    <!-- /File Upload -->

    <script src='https://www.jsviews.com/download/jsrender.min.js'></script>
    <script src="https://www.jsviews.com/download/sample-tag-controls/range/range.js"></script>

    <script src="{% static 'autograder/js/utilities.js' %}"></script>
    <script src="{% static 'autograder/js/register-group-view.js' %}"></script>
    <script src="{% static 'autograder/js/view-project.js' %}"></script>


    <link rel="stylesheet" href="{% static 'autograder/css/main_app.css' %}">

    <script type="text/javascript" id='page-navigation'>


    'use strict';


    $(document).ready(function () {
        $(window).on('popstate', function (e) {
            load_view();
        });


        $.views.converters({
            to_local_date: function(date_str) {
                return new Date(date_str).toLocaleString();
            },
            format_diff: diff_to_table
        });

        load_view();

        console.log(window.google.identitytoolkit);
    });

    function diff_to_table(diff)
    {
        var slot1 = [];
        var slot2 = [];

        for (var index in diff)
        {
            var item = diff[index];
            var prefix = item.slice(0, 2)
            if (prefix === '- ')
            {
                slot1.push(item);
            }
            else if (prefix === '+ ')
            {
                slot2.push(item);
            }
            else if (prefix === '  ') // two spaces
            {
                _pad_if_needed(slot1, slot2);
                slot1.push(item);
                slot2.push(item);
            }
        }

        _pad_if_needed(slot1, slot2);

        var container = $('<div>');
        var table = $((
            '<table class="table table-condensed table-bordered">' +
                '<thead>' +
                    '<tr>' +
                        '<th>Expected</th>' +
                        '<th>Actual</th>' +
                    '</tr>' +
                '</thead>' +
            '</table>'
        ));
        for (var index in slot1)
        {
            var row = $('<tr>');
            var left = $('<td>');
            var right = $('<td>');
            left.text(slot1[index]);
            right.text(slot2[index]);
            row.append(left, right);
            table.append(row);
        }
        // console.log(table.html());
        container.append(table);
        return container.html();
    }

    function _pad_if_needed(slot1, slot2)
    {
        if (slot1.length === slot2.length)
        {
            return;
        }

        var to_pad = null;
        var bigger = null;
        if (slot1.length > slot2.length)
        {
            bigger = slot1;
            to_pad = slot2;
        }
        else
        {
            bigger = slot2;
            to_pad = slot1
        }

        while (to_pad.length < bigger.length)
        {
            to_pad.push('');
        }
    }

    function load_view()
    {
        console.log('load_view');
        // var pageName = getPageName();
        var current_path = window.location.pathname;
        // Offset the split and substring indices by one to ignore the leading
        // slash.
        var view_name = current_path.split('/')[1];
        var resource_url = current_path.substring(view_name.length + 1);

        $('#loading-bar').show();

        if (view_name === '')
        {
            load_landing_page();
        }
        else if (view_name === 'semester')
        {
            load_semester_view(resource_url);
        }
        else if (view_name === 'project')
        {
            load_and_display_project_view(resource_url);
        }
        else if (view_name === 'submission')
        {
            load_submission_view(resource_url);
        }
        else
        {
            history.replaceState(null, '', '/');
            load_landing_page();
        }
    }

    function load_landing_page()
    {
        $.when(
            $.get({% url 'list-courses' %}), $.get({% url 'list-semesters' %})
        ).done(function(courses_result, semesters_result) {
            // console.log(courses_result[0]);
            // console.log(semesters_result[0]);
            var data = {
                'courses': courses_result[0],
                'semesters': semesters_result[0]
            };
            // console.log(data);
            render_and_fix_links('landing-page', data).done(function () {
                $('#loading-bar').hide();
            });
            // console.log($('#main-area'));
        });
    }

    function load_semester_view(semester_url)
    {
        // console.log('load_semester_view');
        // console.log(semester_url);
        $.get(semester_url, function(data, status) {
            // console.log(status);
            render_and_fix_links('view-semester', data).done(function() {
                $('#loading-bar').hide();
            });
        });
    }


    // function handle_file_input_change(files)
    // {
    //     console.log("don't gooooo changin'");
    //     console.log(files);
    //     console.log($('#file_input')[0].files);
    // }

    function load_submission_view(submission_url)
    {
        console.log('load_submission_view');
        $.get(submission_url).done(function(data, status) {
            // console.log(data);
            $.when(
                render_and_fix_links('view-submission', data)
            ).done(function() {
                $('#loading-bar').hide();
            });
        });
    }

    function get_user_email()
    {
        alert('why is this function being called');
        // var auth2 = gapi.auth2.getAuthInstance();
        // var profile = auth2.currentUser.get().getBasicProfile();
        // return profile.getEmail();
    }

    function render_and_fix_links(template_name, data, render_location, append)
    {
        if (render_location === undefined)
        {
            render_location = $('#main-area');
        }

        if (append === undefined)
        {
            append = false;
        }

        var deferred = $.Deferred();
        $.when(lazy_get_template(template_name)).done(function() {
            var tmpl = $.templates[template_name];
            // console.log(tmpl);
            // console.log(tmpl.render(data));
            var rendered = tmpl.render(data);
            if (append)
            {
                render_location.append(rendered);
            }
            else
            {
                render_location.html(rendered);
            }

            // Adapted from: http://www.codemag.com/article/1301091
            // Date accessed: 2015-08-20
            $("a[data-role='ajax']").click(function (e) {
                e.preventDefault();
                var pageName = $(this).attr("href");
                window.history.pushState(null, "", pageName);
                load_view();
            });
            deferred.resolve();
        });
        return deferred.promise();
    }

    // Adapted from: http://www.jsviews.com/#samples/jsr/composition/remote-tmpl
    function lazy_get_template(name)
    {
        // If the named remote template is not yet loaded and compiled
        // as a named template, fetch it. In either case, return a promise
        // (already resolved, if the template has already been loaded)
        var deferred = $.Deferred();
        if ($.templates[name])
        {
            deferred.resolve();
        }
        else
        {
            var url = '/static/autograder/jsrender-templates/' + name + '.tmpl'
            $.get(url).done(function(data, status) {
                // console.log(data);
                $.templates(name, data);
                deferred.resolve();
            });
        }
        return deferred.promise();
    }

    // Adapted from: http://benjamin-schweizer.de/jquerypostjson.html
    $.postJSON = function(url, data, callback) {
        return jQuery.ajax({
            'type': 'POST',
            'url': url,
            'contentType': 'application/json',
            'data': JSON.stringify(data),
            'dataType': 'json',
            'success': callback
        });
    };
    </script>


<!-- Google Identity Toolkit -->
<script type="text/javascript" src="//www.gstatic.com/authtoolkit/js/gitkit.js"></script>
<link type=text/css rel=stylesheet href="//www.gstatic.com/authtoolkit/css/gitkit.css" />
<script type=text/javascript>
  window.google.identitytoolkit.signInButton(
    '#gitkit-dropdown', // accepts any CSS selector
    {
      widgetUrl: "/callback/",
      signOutUrl: "/",
      // Optional - Begin the sign-in flow in a popup window (BROKEN)
      //popupMode: true,

      // Optional - Begin the sign-in flow immediately on page load.
      //            Note that if this is true, popupMode param is ignored
      // loginFirst: true,

      // Optional - Cookie name (default: gtoken)
      //            NOTE: Also needs to be added to config of ‘widget
      //                  page’. See below
      //cookieName: ‘example_cookie’,
    }
  );
</script>

</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">

    <div class="container-fluid">
        <div class="navbar-header">
            <div class='navbar-brand'>The Autograder</div>
        </div>
        <div>
            <ul class="nav navbar-nav navbar-right">
                <li><div id="gitkit-dropdown"></div></li>
            </ul>
        </div>
    </div>

</nav>

<div class='container'>
    <!-- <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
    <button onclick='signOut();'>Sign out</button> -->

<!--     <h1>The Autograder</h1> -->

    <div id='loading-bar' class='overlay' style='display: none'>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class='col-sm-6'>
                <div class="progress" id='loading-bar-proper'>
                    <div class="progress-bar progress-bar-striped active" role="progressbar"
                         aria-valuenow="1" aria-valuemin="0" aria-valuemax="1" style="width:100%">
                        Loading...
                    </div>
                </div>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>

    <div id='main-area'></div>
</body>
</html>

