<!DOCTYPE html>
<html>
<head>
    <!-- Boostrap -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags (Bootstrap) -->


    <title>The Autograder</title>

    {% load staticfiles %}

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- JQuery Cookie -->
    <script src="{% static 'autograder/jquery-cookie/jquery.cookie.js' %}"></script>

    <!-- Boostrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- File Upload -->
    <!-- Generic page styles -->
    <link rel="stylesheet" href="{% static 'autograder/file-upload/css/style.css' %}">
    <!-- blueimp Gallery styles -->
    <!--<link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">-->
    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link rel="stylesheet" href="{% static 'autograder/file-upload/css/jquery.fileupload.css' %}">
    <link rel="stylesheet" href="{% static 'autograder/file-upload/css/jquery.fileupload-ui.css' %}">
    <!-- CSS adjustments for browsers with JavaScript disabled -->
    <noscript><link rel="stylesheet" href="{% static 'autograder/file-upload/css/jquery.fileupload-noscript.css' %}"></noscript>
    <noscript><link rel="stylesheet" href="{% static 'autograder/file-upload/css/jquery.fileupload-ui-noscript.css' %}"></noscript>

    <!-- Autograder CSS -->
    <link rel="stylesheet" href="{% static 'autograder/css/main_app.css' %}">

    <!-- Google Identity Toolkit -->
    <link type=text/css rel=stylesheet href="//www.gstatic.com/authtoolkit/css/gitkit.css" />

</head>
<body>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class='navbar-brand'>The Autograder</div>
            </div>
            <div>
                <ul class="nav navbar-nav navbar-right">
                    <li><div id="gitkit-dropdown"></div></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class='container'>
        <div id='loading-bar' class='overlay' style='display: none'>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class='col-sm-6'>
                    <div class="progress" id='loading-bar-proper'>
                        <div class="progress-bar progress-bar-striped active" role="progressbar"
                             aria-valuenow="1" aria-valuemin="0" aria-valuemax="1" style="width:100%">
                            Loading...
                        </div>
                    </div>
                </div>
                <div class="col-sm-3"></div>
            </div>
        </div>

        <div id='main-area'></div>
    </div>

<!-- ======================================================================= -->
<!-- =============================== scripts =============================== -->
<!-- ======================================================================= -->

<script type="text/javascript">
'use strict';

$(document).ready(function () {
    // source: https://docs.djangoproject.com/en/1.7/ref/contrib/csrf/#ajax
    function csrfSafeMethod(method)
    {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
            }
        }
    });

    window.google.identitytoolkit.signInButton(
    '#gitkit-dropdown', // accepts any CSS selector
    {
        widgetUrl: "/callback/",
        signOutUrl: "/",
    });


    $(window).on('popstate', function (e) {
        load_view();
    });


    $.views.converters({
        to_local_date: function(date_str) {
            return new Date(date_str).toLocaleString();
        },
        format_diff: diff_to_table
    });

    load_view();

    // console.log(window.google.identitytoolkit);
});
</script>

<!-- Boostrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<!-- File Upload -->

<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="{% static 'autograder/file-upload/js/vendor/jquery.ui.widget.js' %}"></script>
<!-- The Templates plugin is included to render the upload/download listings -->
<script src="{% static 'autograder/file-upload/js/tmpl.min.js' %}"></script>
<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
<!-- <script src="{% static 'autograder/file-upload/js/load-image.all.min.js' %}"></script> -->
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="{% static 'autograder/file-upload/js/jquery.iframe-transport.js' %}"></script>
<!-- The basic File Upload plugin -->
<script src="{% static 'autograder/file-upload/js/jquery.fileupload.js' %}"></script>
<!-- The File Upload processing plugin -->
<script src="{% static 'autograder/file-upload/js/jquery.fileupload-process.js' %}"></script>
<!-- The File Upload validation plugin -->
<script src="{% static 'autograder/file-upload/js/jquery.fileupload-validate.js' %}"></script>
<!-- The File Upload user interface plugin -->
<script src="{% static 'autograder/file-upload/js/jquery.fileupload-ui.js' %}"></script>

<!-- /File Upload -->

<!-- jsrender -->
<script src='https://www.jsviews.com/download/jsrender.min.js'></script>
<script src="https://www.jsviews.com/download/sample-tag-controls/range/range.js"></script>

<!-- Google Identity Toolkit -->
<script type="text/javascript" src="//www.gstatic.com/authtoolkit/js/gitkit.js"></script>

<!-- Autograder -->
<script src="{% static 'autograder/js/utilities.js' %}"></script>
<script src="{% static 'autograder/js/register-group-view.js' %}"></script>
<script src="{% static 'autograder/js/view-project.js' %}"></script>
<script src="{% static 'autograder/js/main_app.js' %}"></script>
<script src="{% static 'autograder/js/converters.js' %}"></script>

</body>
</html>

