# Put this file in /etc/systemd/system/
# Then, run:
# sudo systemctl daemon-reload
# sudo systemctl enable <name of this file>
# sudo systemctl start <name of this file>

[Unit]
Description=Open an ssh tunnel to the rabbitmq port on the autograder server
[Service]
Environment="AUTOSSH_GATETIME=0"
# Port mappings:
# - 62222 -> 5432 for Postgres
# - 63333 -> 6379 for Redis (central cache)
# - 64444 -> 5672 for RabbitMQ
#
ExecStart=/usr/bin/autossh -M 0 -o "ServerAliveInterval 5" -o "ServerAliveCountMax 2" -N \
                           -L 62222:localhost:5432 jameslp@class7.eecs.umich.edu \
                           -L 63333:localhost:6379 jameslp@class7.eecs.umich.edu \
                           -L 64444:localhost:5672 jameslp@class7.eecs.umich.edu
Restart=always
User=jameslp

[Install]
WantedBy=multi-user.target

