/*table.table-condensed.table-bordered.diff-table>tbody>tr>th,
table.table-condensed.table-bordered.diff-table>tbody>tr>td {
    border-top: none;
    overflow: scroll;
}
*/

/*.diff-table>thead>tr>th,
.diff-table>tbody>tr>th,
.diff-table>tfoot>tr>th,
.diff-table>thead>tr>td,
.diff-table>tbody>tr>td,
.diff-table>tfoot>tr>td */

#dropzone {
    background: palegreen;
    width: 450px;
    height: 150px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
}
#dropzone.in {
    width: 600px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    font-size: larger;
}
#dropzone.hover {
    background: lawngreen;
}
#dropzone.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}

.overlay {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: #ffffff;
    opacity: 0.8;
    z-index:9999;
}

#loading-bar-proper {
    position:relative;
    margin-top: 40%;
}

body {
    padding-top: 100px;
    padding-bottom: 100px;
}
@media (max-width: 979px) {
    body {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

#test_cases {
    margin-top: 5%;
}
