/*table.table-condensed.table-bordered.diff-table>tbody>tr>th,
table.table-condensed.table-bordered.diff-table>tbody>tr>td {
    border-top: none;
    overflow: scroll;
}
*/

/*.diff-table>thead>tr>th,
.diff-table>tbody>tr>th,
.diff-table>tfoot>tr>th,
.diff-table>thead>tr>td,
.diff-table>tbody>tr>td,
.diff-table>tfoot>tr>td */

#dropzone {
    background: palegreen;
    width: 450px;
    height: 150px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
}
#dropzone.in {
    width: 600px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    font-size: larger;
}
#dropzone.hover {
    background: lawngreen;
}
#dropzone.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}

/*#loading-bar {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0, 0, 0, 0.85);
    background: url(data:;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNUmK/OAAAAATSURBVBhXY2RgYNgHxGAAYuwDAA78AjwwRoQYAAAAAElFTkSuQmCC) repeat scroll transparent\9;
    z-index:9999;
    color:white;
}

#loading-bar.progress {
    position:relative;
    top:100px;
    left:0;
    right:0;
    bottom:0;
}
*/
body {
  padding-top: 100px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}
