<!DOCTYPE html>
<html>
<head>
  <!-- This is an extremely crude demo page to show the rest API working with authentication -->

  <title>Waaaaluigi</title>
  <meta name="google-signin-client_id" content="405101394-6mv8jvt0t7l172490hh8qsrq1mikn1bn.apps.googleusercontent.com">
  {% load staticfiles %}
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://apis.google.com/js/platform.js"></script>

<script src="{% static 'core/js.cookie.js' %}"></script>

<div class="g-signin2" data-onsuccess="onSignIn"></div>

<a href="#" onclick="signOut();">Sign out</a>
<script>
function onSignIn(googleUser) {
    var profile = googleUser.getBasicProfile();
    console.log(profile);
    console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
    console.log('Name: ' + profile.getName());
    console.log('Image URL: ' + profile.getImageUrl());
    console.log('Email: ' + profile.getEmail());
    Cookies.set(
        'gtoken',
        gapi.auth2.getAuthInstance().currentUser.get().getAuthResponse().id_token);
    console.log(Cookies.get('gtoken'));
}

  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
      Cookies.remove('gtoken');
      console.log(Cookies.get('gtoken'));
    });
  }
</script>
<!-- <div id="gitkit-dropdown"></div> -->

<script type='text/javascript'>
  function fetch_and_log() {
    url = $('#wario').val();
    console.log(url);
    url = '/api/' + url;
    $.get(url).then(
      function(data, status, response) {
        console.log('weeee');
        console.log(data);
        console.log(status);
        console.log(bloo);
      }
    );
  }
</script>

<div>Gimme a url: /api/<input id='wario'></div>
<button onclick='fetch_and_log()'>WAAAALUIGI</button>

</body>
</html>
