{{* uuid = guid()}}
<div class='panel-heading'>
    <h4 class='panel-title'>
        <a data-toggle='collapse' class='collapsible-link' href="#test-{{:uuid}}">
            {{>name}} {{!--({{> type}})--}}
        </a>
        <button type='button' panel_id='test-{{:uuid}}' delete_url='{{:url}}'
                class='btn btn-danger btn-default pull-right delete-test-btn btn-xs'>DELETE</button>
    </h4>
</div>
<div class='panel-collapse collapse' id='test-{{:uuid}}'>
    <div class="panel-body">
    <a href={{:url}} data-role='ajax'>{{>name}}</a>
    {{!--{{include tmpl=~test_case_form/}}--}}
    </div>
</div>
