<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{% static 'autograder/jquery-cookie/jquery.cookie.js' %}"></script>

<!-- Force latest IE rendering engine or ChromeFrame if installed -->
<!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<![endif]-->
<meta charset="utf-8">
<title>jQuery File Upload Demo</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap styles -->
<link rel="stylesheet" href="{% static 'autograder/bootstrap/css/bootstrap.min.css' %}">
<!-- Generic page styles -->
<link rel="stylesheet" href="{% static 'autograder/file-upload/css/style.css' %}">
<!-- blueimp Gallery styles -->
<!--<link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">-->
<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
<link rel="stylesheet" href="{% static 'autograder/file-upload/css/jquery.fileupload.css' %}">
<link rel="stylesheet" href="{% static 'autograder/file-upload/css/jquery.fileupload-ui.css' %}">
<!-- CSS adjustments for browsers with JavaScript disabled -->
<noscript><link rel="stylesheet" href="{% static 'autograder/file-upload/css/jquery.fileupload-noscript.css' %}"></noscript>
<noscript><link rel="stylesheet" href="{% static 'autograder/file-upload/css/jquery.fileupload-ui-noscript.css' %}"></noscript>

<!-- Datetime input field -->
<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" media="screen"
      href="http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css">


    <script type="text/javascript">
        // source: https://docs.djangoproject.com/en/1.7/ref/contrib/csrf/#ajax
        var csrftoken = $.cookie('csrftoken');
        function csrfSafeMethod(method)
        {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    </script>


    <script type="text/javascript">
        edit_mode = false;
        function toggle_edit_mode()
        {
            console.log($('.edit_mode'));
            if (edit_mode)
            {
                console.log('hide');
                $(".edit_mode").hide();
                $("#edit_button").html('Edit project settings')
            }
            else
            {
                console.log('show');
                $(".edit_mode").show();
                $("#edit_button").html('Cancel editing')
            }
            edit_mode = !edit_mode;
        }

        $(document).ready(
            function() { $(".edit_mode").hide(); }
        );
    </script>
</head>
<body>

<div class='container'>
    <h1>{{ course.name }} - {{ semester.name }} - {{ project.name }}</h1>
</div>









<div class="container">
    <h2 class="lead">Project Files</h2>
    <!-- The file upload form used as target for the file upload widget -->
    <form id="fileupload" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
        <div class="row fileupload-buttonbar">
            <div class="col-lg-7">
                <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="btn btn-success fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Add files...</span>
                    <input type="file" name="files" multiple>
                </span>
                <button type="submit" class="btn btn-primary start">
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Start upload</span>
                </button>
                <button type="reset" class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel upload</span>
                </button>
                <button type="button" class="btn btn-danger delete">
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>Delete</span>
                </button>
                <input type="checkbox" class="toggle">
                <!-- The global file processing state -->
                <span class="fileupload-process"></span>
            </div>
            <!-- The global progress state -->
            <div class="col-lg-5 fileupload-progress fade">
                <!-- The global progress bar -->
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                </div>
                <!-- The extended global progress state -->
                <div class="progress-extended">&nbsp;</div>
            </div>
        </div>
        <!-- The table listing the files available for upload/download -->
        <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
    </form>
    <br>
</div>

{% verbatim %}
<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td>
            <span class="preview"></span>
        </td>
        <td>
            <p class="name">{%=file.name%}</p>
            <strong class="error text-danger"></strong>
        </td>
        <td>
            <p class="size">Processing...</p>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
        </td>
        <td>
            {% if (!i && !o.options.autoUpload) { %}
                <button class="btn btn-primary start" disabled>
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Start</span>
                </button>
            {% } %}
            {% if (!i) { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        <td>
            <span class="preview">
                {% if (file.thumbnailUrl) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                {% } %}
            </span>
        </td>
        <td>
            <p class="name">
                {% if (file.url) { %}
                    <!-- This version triggers a file download -->
                    <!-- <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a> -->
                    <!-- This version opens the file in a new tab -->
                    <a href="{%=file.url%}" title="{%=file.name%}" target='_blank' {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                {% } else { %}
                    <span>{%=file.name%}</span>
                {% } %}
            </p>
            {% if (file.error) { %}
                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td>
            {% if (file.deleteUrl) { %}
                <button class="btn btn-danger delete" onclick='$.post("{%=file.deleteUrl%}");'>
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>Delete</span>
                </button>
                <input type="checkbox" name="delete" value="1" class="toggle">
            {% } else { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>
{% endverbatim %}

<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="{% static 'autograder/file-upload/js/vendor/jquery.ui.widget.js' %}"></script>
<!-- The Templates plugin is included to render the upload/download listings -->
<script src="{% static 'autograder/file-upload/js/tmpl.min.js' %}"></script>
<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
<script src="{% static 'autograder/file-upload/js/load-image.all.min.js' %}"></script>
<!-- The Canvas to Blob plugin is included for image resizing functionality -->
<!--<script src="//blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>-->
<!-- Bootstrap JS is not required, but included for the responsive demo navigation -->
<script src="{% static 'autograder/bootstrap/js/bootstrap.min.js' %}"></script>
<!-- blueimp Gallery script -->
<!--<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>-->
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="{% static 'autograder/file-upload/js/jquery.iframe-transport.js' %}"></script>
<!-- The basic File Upload plugin -->
<script src="{% static 'autograder/file-upload/js/jquery.fileupload.js' %}"></script>
<!-- The File Upload processing plugin -->
<script src="{% static 'autograder/file-upload/js/jquery.fileupload-process.js' %}"></script>
<!-- The File Upload image preview & resize plugin -->
<script src="{% static 'autograder/file-upload/js/jquery.fileupload-image.js' %}"></script>
<!-- The File Upload audio preview plugin -->
<script src="{% static 'autograder/file-upload/js/jquery.fileupload-audio.js' %}"></script>
<!-- The File Upload video preview plugin -->
<script src="{% static 'autograder/file-upload/js/jquery.fileupload-video.js' %}"></script>
<!-- The File Upload validation plugin -->
<script src="{% static 'autograder/file-upload/js/jquery.fileupload-validate.js' %}"></script>
<!-- The File Upload user interface plugin -->
<script src="{% static 'autograder/file-upload/js/jquery.fileupload-ui.js' %}"></script>
<!-- The main application script -->
<!--<script src="{% static 'autograder/file-upload/js/main.js' %}"></script>-->

<!--<script src="{% static 'autograder/datetime-widget/js/bootstrap-datetimepicker.min.js' %}"></script>-->

    <script type="text/javascript"
     src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js">
    </script>
    <script type="text/javascript"
     src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.pt-BR.js">
    </script>

<script type="text/javascript">
$(function () {
    'use strict';

    // Initialize the jQuery File Upload widget:
    $('#fileupload').fileupload({
        // Uncomment the following to send cross-domain cookies:
        //xhrFields: {withCredentials: true},
        url: '{% url "add-project-file" course.name semester.name project.name %}'
    });

    // // Enable iframe cross-domain access via redirect option:
    // $('#fileupload').fileupload(
    //     'option',
    //     'redirect',
    //     window.location.href.replace(
    //         /\/[^\/]*$/,
    //         '/cors/result.html?%s'
    //     )
    // );

    // Load existing files:
    $('#fileupload').addClass('fileupload-processing');
    $.ajax({
        url: $('#fileupload').fileupload('option', 'url'),
        dataType: 'json',
        context: $('#fileupload')[0]
    }).always(function () {
        $(this).removeClass('fileupload-processing');
    }).done(function (result) {
        $(this).fileupload('option', 'done')
            .call(this, $.Event('done'), {result: result});
    });

});

</script>



















<div class='container'>
    <div>Autograder Test Cases: </div>
    <ul id='current_tests'>
    {% for test_case in autograder_test_cases %}
        <li>
            <div>Test name: {{ test_case.name }}</div> {# <a href="{% url 'delete-test_case' course.name semester.name project.name test_case.name %}">delete</a> #}
            <div>Command line arguments: {% for arg in test_case.command_line_arguments %}<span>{{ arg }} </span>{% endfor %}</div>
            <div>Standard input stream content: {{ test_case.standard_input }}</div>
            <div>Test resource files: {{ test_case.test_resource_files }}</div>
            <div>Time limit: {{ test_case.time_limit }}</div>
            <div>Expected return code: {{ test_case.expected_return_code }}</div>
            <div>Expect any nonzero return code: {{ test_case.expect_any_nonzero_return_code }}</div>
            <div>Expected standard output stream content: {{ test_case.expected_standard_output }}</div>
            <div>Expected standard error stream content: {{ expected_standard_error_output }}</div>
            <div>Use valgrind: {{ test_case.use_valgrind }}</div>
            <div>Valgrind flags: {% for flag in test_case.valgrind_flags %}<span>{{ flag }}</span>{% endfor %}</div>
            <div>Compiler: {{ test_case.compiler }}</div>
            <div>Compiler flags: {% for flag in test_case.compiler_flags %}<span>{{ flag }}</span>{% endfor %}</div>
            <div>Files to compile together: {% for file in test_case.files_to_compile_together %}<span>{{ file }}</span>{% endfor %}</div>
            <div>Executable name: {{ test_case.executable_name }}</div>
        </li>
    {% endfor %}
    </ul>

    <button type='button'>Add an autograder test</button>

    <form id='add-or-update-test-form' method='post' action='{% url "add-or-update-test" course.name semester.name project.name %}'>
        {% csrf_token %}
        <div>Test case name: <input type='text' name='test_name'></input></div>

        <div>Command line arguments: <input type='text' name='command_line_arguments'></div>
        <div>Standard input stream content: <textarea name='standard_input'></textarea></div>
        <div>
            Test resource files: <br>
            {% for filename in project.get_project_file_basenames %}
            <input type='checkbox' name='test_resource_files' value='{{ filename }}'> {{ filename }}</input><br>
            {% endfor %}        </div>
        <div>Time limit: <input type='text' name='time_limit'></div>
        <div>Expected return code: <input type='text' name='expected_return_code'></div>
        <div>Expect any nonzero return code: <input type='checkbox' name='expect_any_nonzero_return_code' value='true'></div>
        <div>Expected standard output stream content: <textarea name='expected_standard_output'></textarea></div>
        <div>Expected standard error stream content: <textarea name='expected_standard_error_output'></textarea></div>
        <div>Use valgrind: <input type='checkbox' name='valgrind_flags' value='true'></div>
        <div>Valgrind flags: <input type='text' name='valgrind_flags'></div>
        <div>Use default valgrind flags: <input type='checkbox' name='use_default_valgrind_flags' value='true' checked></input></div>
        <div>Compiler: <input type='text' name='compiler'></div>
        <div>Compiler flags: <input type='text' name='compiler_flags'></div>
        <div>
            Files to compile together: <br>
            {% for filename in project.get_project_file_basenames %}
            <input type='checkbox' name='files_to_compile_together' value='{{ filename }}'> {{ filename }}</input><br>
            {% endfor %}
            {% for filename in project.required_student_files %}
            <input type='checkbox' name='files_to_compile_together' value='{{ filename }}'> {{ filename }}</input><br>
            {% endfor %}
            {% for pattern_obj in project.expected_student_file_patterns %}
            <input type='checkbox' name='files_to_compile_together' value='{{ pattern_obj.pattern }}'> {{ pattern_obj.pattern }}</input><br>
            {% endfor %}
        </div>
        <div>Executable name: <input type='text' name='executable_name'></div>
        <input type='submit' value='Save'>
    </form>

    <!--<script type="text/javascript">
    $('#add-or-update-test-form').submit(function(event) {
        event.preventDefault();
        // var form_data = {
        //     'test_name': $('input[name=test_name]').val()
        // };
        $.post(
            '{% url "add-or-update-test" course.name semester.name project.name %}',
            $('#add-or-update-test-form').serialize()
        ).done(function(data) {
            data = $.parseJSON(data)
            var list_item = $('<li></li>').text(data['test_name']);
            $('#current_tests').append(list_item);
        });
    });
    </script>-->
</div>

<div class='container'>
    <div>Other settings:</div>
    <button id='edit_button' onclick="toggle_edit_mode();">Edit project settings</button>

    <span id='eggs' class='edit_mode'>spam</span>

    <form method='post' action="{% url 'project-detail' course.name semester.name project.name %}">
        {% csrf_token %}
        <span>Visible to students: {{ project.visible_to_students }}</span>
            <input type="checkbox" name="visible_to_students" value="true" {% if project.visible_to_students %}checked{% endif %}><br>
        <span>Closing time: {{ project.closing_time }}</span>
        <span id="datetimepicker" class="input-append">
            <input data-format="MM/dd/yyyy HH:mm:ss PP" type="text" name='closing_time'></input>
            <span class="add-on">
              <i data-time-icon="icon-time" data-date-icon="icon-calendar">
              </i>
            </span>
        </span><br>

        <script type="text/javascript">
          $(function() {
            $('#datetimepicker').datetimepicker({
              language: 'en',
              pick12HourFormat: true
            });
          });
        </script>

        <span>Disallow student submissions (hard override): {{ project.disallow_student_submissions }} </span>
            <input type="checkbox" name="disallow_student_submissions" value="true" {% if project.disallow_student_submissions %}checked{% endif %}><br>
        <span>Minimum group size: {{ project.min_group_size }}</span>
            <input type='text' name='min_group_size' value='{{ project.min_group_size }}'><br>
        <span>Maximum group size: {{ project.max_group_size }}</span>
            <input type='text' name='max_group_size' value='{{ project.max_group_size }}'><br>
        <div id='req_stud_files'><div>Required student files:</div>
            {% for filename in project.required_student_files %}
            <div>{{ filename }}</div><input type='text' name='required_student_files' value='{{ filename }}'><br>
            {% endfor %}
        </div>
        <button type='button' onclick="$('#req_stud_files').append('<input type=\'text\' name=\'required_student_files\' value=\'\'><br>')">Add</button><br>

        <div id='expected_patterns'><div>Expected student file patterns:</div>
            {% for pat_obj in project.expected_student_file_patterns %}
            <span>Pattern: {{ pat_obj.pattern}}</span><input type='text' name='patterns' value='{{ pat_obj.pattern }}'><br>
            <span>Minimum number of matches: {{ pat_obj.min_num_matches }}</span><input type='text' name='pattern_mins' value='{{ pat_obj.min_num_matches }}'><br>
            <span>Maximum number of matches: {{ pat_obj.max_num_matches }}</span><input type='text' name='pattern_maxes' value='{{ pat_obj.max_num_matches }}'><br>
            <br>
            {% endfor %}
        </div>
        <button type='button' onclick="$('#expected_patterns').append('<span>Pattern: </span><input type=\'text\' name=\'patterns\' value=\'\'><br><span>Minimum number of matches: </spam><input type=\'text\' name=\'pattern_mins\' value=\'\'><br><span>Maximum number of matches: </span><input type=\'text\' name=\'pattern_maxes\' value=\'\'><br>')">Add</button><br>

        <input type='submit' value='Save changes'>
    </form>
</div>

<!--{#         {% for filename in project.get_project_file_basenames %} #}
{# <input type='checkbox' name='required_student_files' value='{{ filename }}'> {{ filename }}</input><br> #}
        {# {% endfor %} #}-->
</body>
</html>
