<!DOCTYPE html>
<html>
<head>
    <title>{{ semester.name }}</title>
</head>
<body>

<h1>{{ course.name }} - {{ semester.name }}</h1>

<div>Projects: </div>
{% for project in projects %}
    <li>{{ project.name }} <a href="{% url 'delete-project' course.name semester.name project.name %}">delete</a></li>
    {# <li><a href="{% url 'project-detail' course.name semester.name project.name %}">{{ project.name }}</a></li> #}
{% endfor %}

<form action="{% url 'semester-detail' course.name semester.name %}" method="post">
    {% csrf_token %}
    <div>Add a new project:</div>
    <ul>
        {% for error in non_field_errors %}
        <li>{{ error }} </li>
        {% endfor %}
        <li>Project name: <input type='text', name='project_name', value='{{ request.project_name }}'></input>{{ errors.name.0 }}</li>
    </ul>
    <input type="submit" value="Create" />
</form>

</body>
</html>
