{{for files}}
<tr class="template-download">
    <td>
        <p class="name">
            <a href="{{: file_url}}" title="{{:filename}}" target='_blank'>{{> filename}}</a>
        </p>
    </td>
<!--     <td>
        <span class="size">{{> size}}</span>
    </td> -->
    <td>
        <button class="btn btn-danger delete"
                onclick='$.ajax("{{: file_url}}", {method: "DELETE"});'>
            <i class="glyphicon glyphicon-trash"></i>
            <span>Delete</span>
        </button>
    </td>
</tr>
{{/for}}
