<div>Group members: {{for data.attributes.members}}{{>}} {{/for}}</div>
<div class='panel-group'>
    <div class='panel panel-default'>
    {{for included}}
        <div class='panel-heading'>
            <h4 class='panel-title'>
                <a data-toggle='collapse' class='collapsible-link' href="#submission-{{:~root.data.id}}-{{:#index}}">
                    {{to_local_date:attributes.timestamp }}
                </a>
            </h4>
        </div>
        <div id='submission-{{:~root.data.id}}-{{:#index}}' class='panel-collapse collapse'>
            <a href="{{:links.self}}" style='display:none'></a>
            <div class="panel-body"></div>
            <!-- <div class="panel-footer">Panel Footer</div> -->
        </div>
    {{else}}
        You do not have any submissions yet
    {{/for}}
    </div>
</div>

