<div id='submissions'>
    <h3>Submissions:</h3>
        <div>Group members: {{for data.attributes.members}}{{>}} {{/for}}</div>
    {{for included}}
        <div><a href="/submission{{:links.self}}">{{to_local_date:attributes.timestamp }}</a></div>
    {{else}}
        <div>You do not have any submissions yet</div>
    {{/for}}
</div>
