<div id='submission'>
<!--     <h3>Submitted at: {{to_local_date:data.attributes.timestamp}}</h3>
 -->
    <h4>Status: {{> data.attributes.status}}</h4>
    {{if invalid_reason_or_error !== undefined}}
        {{if data.attributes.status === 'invalid'}}
        <div>Reason(s): </div>
        <ul>
            {{for data.attributes.invalid_reason_or_error.submitted_files}}
            <li>{{>}}</li>
            {{/for}}
        </ul>
        {{else data.attributes.status === 'error'}}
        <div>Please contact your administrator</div>
        {{/if}}
    {{/if}}

    <div>Files submitted: </div>
    <ul>
    {{for data.attributes.submitted_files}}
        <li><a href="{{: file_url}}" target='_blank'>{{>filename}}</a></li>
    {{/for}}
    </ul>

    {{if data.attributes.discarded_files.length}}
    <div>The following files were discarded due to being unnecessary: </div>
    <ul>
    {{for data.attributes.discarded_files}}
        <li><i>{{>}}</i></li>
    {{/for}}
    </ul>
    {{/if}}

    <div>Results: </div>
    <ul>
        {{for meta.suite_results}}
        <li>
            <h4>READ THIS SECTION</h4>
            <h5>Student test suite: {{> test_suite_name}}</h5>
            {{if buggy_implementations_exposed !== undefined}}
                <div>Buggy solutions exposed:</div>
                {{for buggy_implementations_exposed}}
                    <div>{{>}}</div>
                {{/for}}
            {{/if}}
            {{for detailed_results}}
                {{if compilation_succeeded !== undefined}}
                <span>Student test case "<i>{{> student_test_case_name}}</i>":</span>
                    {{if compilation_succeeded}}
                    <span>compilation success</span>
                    {{else}}
                    <span><b>COMPILATION FAILURE</b></span>
                    {{/if}}
                    {{if compilation_standard_output !== undefined}}
                    <div>Compiler standard output:</div>
                    <pre>{{> compilation_standard_output}}</pre>
                    {{/if}}
                    {{if compilation_standard_error_output !== undefined}}
                    <div>Compiler error output:</div>
                    <pre>{{> compilation_standard_error_output}}</pre>
                    {{/if}}
                {{/if}}
                <br>
            {{/for}}
        </li>
        {{/for}}
        {{for meta.results}}
        <li>
            <h5>{{> test_name}}</h5>
            {{if compilation_succeeded !== undefined}}
                <div>
                    Compilation: {{if compilation_succeeded}}SUCCESS{{else}}FAILURE{{/if}}
                </div>
            {{/if}}
            {{if compilation_stdout !== undefined}}
                Compilation standard output: <pre>{{> compilation_stdout}}</pre>
            {{/if}}
            {{if compilation_stderr !== undefined}}
                Compilation error output:  <pre>{{> compilation_stderr}}</pre>
            {{/if}}

            {{if timed_out}}
                <div>Your program exceeded the time limit and was terminated</div>
            {{else}}
                {{if return_code_correct !== undefined}}
                    <div>
                        Return code: {{if return_code_correct}}CORRECT{{else}}INCORRECT{{/if}}
                    </div>
                {{/if}}

                {{if output_correct !== undefined}}
                    <div>
                        Output: {{if output_correct}}CORRECT{{else}}INCORRECT{{/if}}
                    </div>
                {{/if}}
                {{if stdout_diff !== undefined}}
                    <div>
                        Standard output diff:
                        <div style='overflow: scroll'>
                            {{format_diff:stdout_diff}}
                        </div>
                    </div>
                {{/if}}
                {{if stderr_diff !== undefined}}
                    <div>
                        Standard error diff:
                        <div style='overflow: scroll'>
                            {{format_diff:stderr_diff}}
                        </div>
                    </div>
                {{/if}}

                {{if valgrind_errors_present !== undefined}}
                    <div>Valgrind: {{if valgrind_errors_present}}ERRORS{{else}}CLEAN{{/if}}</div>
                {{/if}}
                {{if valgrind_output !== undefined}}
                    Valgrind output: <pre>{{>valgrind_output}}</pre>
                {{/if}}

                {{if total_points_awarded !== undefined}}
                    <div>Score for {{>test_name}}:</div>
                    <ul>
                    {{if compilation_points_awarded !== undefined}}
                        <li>Compilation points: {{> compilation_points_awarded}}/{{>compilation_points_possible}}</li>
                    {{/if}}
                    {{if return_code_points_awarded !== undefined}}
                        <li>Return code points: {{> return_code_points_awarded}}/{{>return_code_points_possible}}</li>
                    {{/if}}
                    {{if output_points_awarded !== undefined}}
                        <li>Output points: {{> output_points_awarded}}/{{>output_points_possible}}</li>
                    {{/if}}
                    {{if valgrind_points_awarded !== undefined}}
                        <li>Valgrind points: {{> valgrind_points_awarded}}/{{>valgrind_points_possible}}</li>
                    {{/if}}
                        <li>Total: {{> total_points_awarded}}/{{> total_points_possible}}</li>
                    </ul>
                {{/if}}
            {{/if}}
        </li>
        {{/for}}
    </ul>
    <div><b>Total score: {{> meta.total_points_awarded}}/{{> meta.total_points_possible}}</b></div>
</div>
