<div id='submission'>
<!--     <h3>Submitted at: {{to_local_date:data.attributes.timestamp}}</h3>
 -->
    <div>Files submitted: </div>
        <div class='panel-group'>
            <div class='panel panel-default'>
            {{for data.attributes.submitted_files}}
                <div class='panel-heading'>
                    <h4 class='panel-title'>
                        <a data-toggle='collapse' class='collapsible-link'
                           href="#file-{{>filename}}-{{:~root.data.id}}">
                            {{>filename}}
                        </a>
                    </h4>
                </div>
                <div id='file-{{>filename}}-{{:~root.data.id}}' class='panel-collapse collapse'>
                    <a href='{{: file_url}}' style='display:none'></a>
                    <pre class='panel-body prettyprint'></pre>
                </div>
            {{/for}}
            </div>
        </div>
    <div>Results: </div>
    <ul>
        <li>
        {{for meta.results}}
            <div>{{> test_name}}</div>
            {{if compilation_succeeded !== undefined}}
                <div>
                    Compilation: {{if compilation_succeeded}}SUCCESS{{else}}FAILURE{{/if}}
                </div>
            {{/if}}
            {{if compilation_stdout !== undefined}}
                Compilation standard output: <pre>{{> compilation_stdout}}</pre>
            {{/if}}
            {{if compilation_stderr !== undefined}}
                Compilation error output:  <pre>{{> compilation_stderr}}</pre>
            {{/if}}

            {{if timed_out}}
            {{else}}
                {{if return_code_correct !== undefined}}
                    <div>
                        Return code: {{if return_code_correct}}CORRECT{{else}}INCORRECT{{/if}}
                    </div>
                {{/if}}

                {{if output_correct !== undefined}}
                    <div>
                        Output: {{if output_correct}}CORRECT{{else}}INCORRECT{{/if}}
                    </div>
                {{/if}}
                {{if stdout_diff !== undefined}}
                    Standard output diff: <pre>{{> stdout_diff}}</pre>
                {{/if}}
                {{if stderr_diff !== undefined}}
                    Standard error output diff: <pre>{{> stderr_diff}}</pre>
                {{/if}}

                {{if valgrind_errors_present !== undefined}}
                    <div>Valgrind: {{if valgrind_errors_present}}CLEAN{{else}}ERRORS{{/if}}</div>
                {{/if}}
                {{if valgrind_output !== undefined}}
                    Valgrind output: <pre>{{>valgrind_output}}</pre>
                {{/if}}

                {{if total_points_awarded !== undefined}}
                    <div>Score for {{>test_name}}:</div>
                    <ul>
                    {{if compilation_points_awarded !== undefined}}
                        <li>Compilation points: {{> compilation_points_awarded}}/{{>compilation_points_possible}}</li>
                    {{/if}}
                    {{if return_code_points_awarded !== undefined}}
                        <li>Return code points: {{> return_code_points_awarded}}/{{>return_code_points_possible}}</li>
                    {{/if}}
                    {{if output_points_awarded !== undefined}}
                        <li>Output points: {{> output_points_awarded}}/{{>output_points_possible}}</li>
                    {{/if}}
                    {{if valgrind_points_awarded !== undefined}}
                        <li>Valgrind points: {{> valgrind_points_awarded}}/{{>valgrind_points_possible}}</li>
                    {{/if}}
                        <li>Total: {{> total_points_awarded}}/{{> total_points_possible}}</li>
                    </ul>
                {{/if}}
            {{/if}}
        {{/for}}
        </li>
    </ul>
</div>
