<div id='courses' class='container'>
    {{if courses.courses && courses.courses.length}}
        <h4>Courses: </h4>
        <ul>
            {{for courses.courses}}
                <li>
                <div>{{>name}}</div>
                </li>
            {{/for}}
        </ul>
    {{/if}}
</div>

<div id='semesters' class='container'>
    {{if staff_semesters.semesters && staff_semesters.semesters.length}}
        <h4>Staff Semesters: </h4>
        <ul>
            {{for staff_semesters.semesters}}
                <li>
                    <div>
                        <a href="/semester{{:url}}" data-role='ajax'>
                            {{>course_name}} - {{>name}}
                        </a>
                    </div>
                </li>
            {{/for}}
        </ul>
    {{/if}}
</div>


<div id='semesters' class='container'>
    {{if enrolled_semesters.semesters && enrolled_semesters.semesters.length}}
        <h4>Enrolled Semesters: </h4>
        <ul>
            {{for enrolled_semesters.semesters}}
                <li>
                    <div>
                        <a href="/semester{{:url}}" data-role='ajax'>
                            {{>course_name}} - {{>name}}
                        </a>
                    </div>
                </li>
            {{/for}}
        </ul>
    {{else}}
        <div>You are not enrolled in any courses</div>
    {{/if}}
</div>
