<div id='project'>
    <h2>Project: {{>project.name}}</h2>

    {{!-- {{if project.closing_time}}
    <h3>Due date: {{to_local_date:project.closing_time}}</h3>
    {{/if}} --}}
    {{if group.extended_due_date}}
    <div><i>You have been granted an extension for this project.
        Your due date is:</i> <b>{{to_local_date:group.extended_due_date}}</b></div>
    {{/if}}

    <div id='submit-files'>
        <h2 class="lead">Submit Files</h2>
        <div><i>Please submit the following files: </i></div>
        <ul>
        {{for project.required_student_files}}
            <li><b>{{>}}</b></li>
        {{/for}}
        {{for project.expected_student_file_patterns}}
            <li>{{> #data[1]}} - {{> #data[2]}} files matching the pattern: <b>{{> #data[0]}}</b>
        {{/for}}
        </ul>

        <!-- The file upload form used as target for the file upload widget -->
        <form id="fileupload" method="POST" enctype="multipart/form-data">
            <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->

            <input type='hidden' name='submission_group_id' value='{{:group.id}}'>
            <div class="row fileupload-buttonbar">
                <div class="col-lg-7">
                    <!-- The fileinput-button span is used to style the file input field as button -->
                    <span class="btn btn-success fileinput-button">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>Add files...</span>
                        <input type="file" name="files" multiple>
                    </span>
                    <button id='clear-files-button' type="reset" class="btn btn-warning cancel">
                        <i class="glyphicon glyphicon-ban-circle"></i>
                        <span>Clear Files</span>
                    </button>
                    <!-- <button type="button" class="btn btn-danger delete">
                        <i class="glyphicon glyphicon-trash"></i>
                        <span>Delete</span>
                    </button> -->
<!--                     <input type="checkbox" class="toggle">
 -->                    <!-- The global file processing state -->
                    <span class="fileupload-process"></span>
                </div>
                <!-- The global progress state -->
                <div class="col-lg-5 fileupload-progress fade">
                    <!-- The global progress bar -->
                    <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                    </div>
                    <!-- The extended global progress state -->
                    <div class="progress-extended">&nbsp;</div>
                </div>
            </div>
            <div id="dropzone" class="fade well">Drop files here</div>
            <table id='upload-table' role="presentation" class="table table-striped"><tbody id='upload-progress' class="files"></tbody></table>
            <div class="row fileupload-buttonbar">
                <button id='submit-button' type="submit" class="btn btn-primary start">
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>SUBMIT</span>
                </button>
            </div>
        </form>
        <br>
    </div>
</div>
{{if project.permissions.is_staff}}
<span id='view-student-submissions'>
    <h3>Student Submissions</h3>
    <span id='student-submission-view'>Student email: <input id='requested-email' type='text'> 
    <button id='load-student-submissions-button' type='button'>Search</button></span>
    <div id='student-submissions'></div>
</span>
{{/if}}
{{* idd = guid()}}
<span id='view-submissions'>
    <h3>Your Submissions</h3>
    <div id='own-submissions'>
    {{for  submissions.submissions}}
        <div><a href="/submission{{:url}}" data-role='ajax'>
            {{to_local_date:timestamp}}
        </a></div>
    {{/for}}

        {{!--{{include tmpl=~submission_panel_list /}}--}}
    </div>
</span>

<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td>
            <span class="preview"></span>
        </td>
        <td>
            <p class="name">{%=file.name%}</p>
            <strong class="error text-danger"></strong>
        </td>
        <td>
            <p class="size">Processing...</p>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
        </td>
        <td>
            {% if (!i && !o.options.autoUpload) { %}
                <button class="btn btn-primary start" disabled style='display: none'>
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Start</span>
                </button>
            {% } %}
            {% if (!i) { %}
                <button class="btn btn-warning cancel" style='display: none'>
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Clear</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>
 <!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        <td>
            <span class="preview">
                {% if (file.thumbnailUrl) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                {% } %}
            </span>
        </td>
        <td>
            <p class="name">
                {% if (file.url) { %}
                    <!-- This version triggers a file download -->
                    <!-- <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a> -->
                    <!-- This version opens the file in a new tab -->
                    <a href="{%=file.url%}" title="{%=file.name%}" target='_blank' {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                {% } else { %}
                    <span>{%=file.name%}</span>
                {% } %}
            </p>
            {% if (file.error) { %}
                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td>
            {% if (file.deleteUrl) { %}
                <button class="btn btn-danger delete" onclick='$.post("{%=file.deleteUrl%}");'>
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>Delete</span>
                </button>
                <input type="checkbox" name="delete" value="1" class="toggle">
            {% } else { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Clear</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>
