<div id='semester'>
    <h2>{{>semester.course_name}} - {{>semester.name}}</h2>
    <ul>
        {{for projects}}
            <ul>
            <div class='row'>
                <div class='col-sm-2'>
                    <a href="/project{{:url}}" data-role='ajax'>
                        {{>name}}
                    </a>
                </div>
            {{if can_edit}}
                <div class='col-sm-1'>
                    <a href="/edit-project{{:url}}" data-role='ajax'>
                        (edit)
                    </a>
                </div>
            {{/if}}
            </div>
            </ul>
        {{/for}}
    </ul>
</div>
