<div id='submission'>
    <h3>Submitted at: {{to_local_date:submission.timestamp}}</h3>

    <h4 id='status-header'>Status: {{> submission.status}}</h4>
    {{if submission.invalid_reason_or_error !== undefined}}
        {{if submission.status === 'invalid'}}
        <div>Reason(s): </div>
        <ul>
            {{for submission.invalid_reason_or_error.submitted_files}}
            <li>{{>}}</li>
            {{/for}}
        </ul>
        {{else submission.status === 'error'}}
        <div>Please contact your administrator</div>
        {{/if}}
    {{/if}}

    <div>Files submitted: </div>
    <ul>
    {{for submitted_files.submitted_files}}
        <li>
            <a href="/submitted-file{{:url}}" data-role='ajax'>{{>filename}}</a>
            <a href="{{:url}}" download="{{>filename}}"> (download) </a>
        </li>
    {{/for}}
    </ul>

    {{if submission.discarded_files.length}}
    <div>The following files were discarded due to being unnecessary: </div>
    <ul>
    {{for submission.discarded_files}}
        <li><i>{{>}}</i></li>
    {{/for}}
    </ul>
    {{/if}}

    {{if submission.status === 'received' || submission.status === 'queued'}}
    <button id='remove-from-queue-button'>REMOVE ME FROM QUEUE</button>
    <div id='remove-from-queue-error'></div>
    {{/if}}

    <div>Results: </div>
    {{* total_points_awarded = 0; total_points_possible = 0;}}
    <div class='panel-group' id='test-result-list'>
        <div class='panel panel-default'>
        {{for test_results.autograder_test_case_results}}
            <div class='panel-heading'>
                <h4 class='panel-title'>
                    <a data-toggle='collapse' class='collapsible-link' 
                       href="#test-result-{{:test_case_name}}">{{>test_case_name}}</a>
                    {{if points_awarded !== undefined}}
                        ({{:points_awarded}}/{{:points_possible}})
                        {{* total_points_awarded += data.points_awarded; total_points_possible += data.points_possible}}
                    {{/if}}
                </h4>
            </div>
            <div id='test-result-{{:test_case_name}}' 
                 class='panel-collapse collapse test-result-collapse'>
                <a href="{{:url}}" style='display:none'></a>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class='col-sm-6'>
                            <div class="progress" >
                                <div class="progress-bar progress-bar-striped active" role="progressbar"
                                     aria-valuenow="1" aria-valuemin="0" aria-valuemax="1" style="width:100%">
                                    Loading...
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3"></div>
                    </div>
                </div>
            </div>        
        {{/for}}
        </div>
    </div>
    {{if submission.status === 'finished_grading'}}<div><b>Total score: {{*: total_points_awarded}}/{{*: total_points_possible}}</b></div>{{/if}}
    <ul>
       {{!-- {{for meta.suite_results}}
        <li>
            <h4>READ THIS SECTION</h4>
            <h5>Student test suite: {{> test_suite_name}}</h5>
            {{if buggy_implementations_exposed !== undefined}}
                <div>Buggy solutions exposed:</div>
                {{for buggy_implementations_exposed}}
                    <div>{{>}}</div>
                {{/for}}
            {{/if}}
            {{for detailed_results}}
                {{if compilation_succeeded !== undefined}}
                <span>Student test case "<i>{{> student_test_case_name}}</i>":</span>
                    {{if compilation_succeeded}}
                    <span>compilation success</span>
                    {{else}}
                    <span><b>COMPILATION FAILURE</b></span>
                    {{/if}}
                    {{if compilation_standard_output !== undefined}}
                    <div>Compiler standard output:</div>
                    <pre>{{> compilation_standard_output}}</pre>
                    {{/if}}
                    {{if compilation_standard_error_output !== undefined}}
                    <div>Compiler error output:</div>
                    <pre>{{> compilation_standard_error_output}}</pre>
                    {{/if}}
                {{/if}}
                <br>
            {{/for}}
        </li>
        {{/for}} 
        {{for test_results}}
        <li>
        </li>
        {{/for}}
    </ul>
     --}}
</div>
